Django>=5.0,<6.0
djangorestframework>=3.15.0
django-cors-headers>=4.3.0
psycopg2-binary>=2.9.9
djangorestframework-simplejwt>=
djangorestframework-simplejwt[crypto]>=

# Optional but recommended
python-decouple>=3.8     # for managing environment variables
dj-database-url>=2.1.0   # if you want DATABASE_URL support